body {
    margin: 0;
    background: darkgrey
}

.logo {
    font-size: large;
    margin-right: 1em;
}

.navbar {
    padding-left: 2em;
    margin: 0;
    width: 100vw;
}

.home {
    margin-top: 5em;
}

.post {
    margin-top: 5em;
}

.post-link:hover {
    text-decoration: none;
}

.post-title-input {
    border: none;
    outline: none;
    font-size: 3rem;
    width: 100%;
    text-align: center;
    margin: 35px auto;
}

.post-title-input:focus {
    border-bottom: 1px solid black;
}
  
.markdown-preview {
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #7e2e2e;
}
  
.markdown-preview img {
    max-width: 100%;
}

.icon-wrap {
    display: inline-flex;
    text-align: center;
    justify-content: center;
}

.fa-markdown {
    font-size: larger;
    margin-right: 1em;
}

.tips {
    margin-top: 5em;
}

.inline {
    display: table-caption;
}

.fa-times-circle {
    color: #b63939;
    transition: ease 300ms;
    cursor: pointer;
}

.fa-times-circle:hover {
    transform: scale(1.1);
    transition: ease 300ms;
}
